// 覆盖 element 样式

@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
      'base': #3D00B7,
    ),
  )
);

:root {
  .el-button--primary {
    font-family: "Bakbak One";
    border-radius: 2rem;
    padding: 0.5rem 1.5rem;
    height: auto;
    font-size: 1rem;

    &.el-button--large {
      font-size: 1.5rem;
      padding: 1rem 2rem;

      @media screen and (max-width: 768px) {
        font-size: 1.25rem;
        padding: 0.75rem 1.5rem;
      }
    }
  }

  // .el-avatar {
  //   background: linear-gradient(135deg, #F5B919 0%, #BDF700 100%);
  // }

  // .el-loading-mask {
  //   background-color: transparent;

  //   .el-loading-spinner .path {
  //     stroke: #F5B919;
  //   }
  // }
}
