// 全局样式变量
@use "./fonts.scss" as *;

*,
*::before,
*::after {
  scrollbar-width: none;
}

// 定义 CSS 变量，必须放在选择器中，给 tailwind.config.ts 使用
:root {
  --bg-color: #fff;
  --text-color: #213547;
  --header-height: 4.5rem;
  --container-width: 1200px;
  --theme-color: #007162;
}

// 暗色模式
.dark-mode {
  --bg-color: #1a1a1a;
  --text-color: #fffde;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Playfair";
  overflow-x: hidden;
}

// 容器
#__nuxt {
  height: 100dvh;
  width: 100vw;
  min-width: 360px;
}

/** 鼠标悬浮样式 */
.hoverable {
  @apply cursor-pointer transition-all duration-300;
}

/** 左右内边距 */
.app-wrapper {
  @apply w-full px-4;
}

/** 版心 */
.app-content {
  @apply w-full max-w-container mx-auto;
}

/** 法律页面 */
.legal-content {
  @apply text-sm md:text-base;

  h2 {
    @apply text-[1.5em] leading-[1.5] font-bold mb-4;
  }

  h3 {
    @apply text-[1.17em] leading-[1.5] font-bold mt-6 mb-2;
  }

  a {
    @apply text-primary underline hover:opacity-70;
  }

  ul > li {
    @apply list-disc list-inside;
  }
}

// 基础描边样式
.outline-base {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background: transparent;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    pointer-events: none;
    transition: box-shadow 0.3s;
  }
}

// 悬浮时加粗
.hover-outline {
  @apply cursor-pointer transition-all duration-300;
  @extend .outline-base;

  &:hover::after {
    box-shadow: inset 0 0 0 2px var(--theme-color);
  }
}

// 激活时加粗
.outline-thumb {
  @extend .outline-base;

  &::after {
    transition: none;
  }

  &.outline-thumb-active::after {
    box-shadow: inset 0 0 0 2px var(--theme-color);
  }

  &.outline-thumb-active:hover {
    opacity: 1;
  }
}
