// 全局公共样式
// @use "./reset.scss" as *;
@use "./modern-css-reset.css" as *;
@use "./fonts.scss" as *;

*,
*::before,
*::after {
  // 隐藏滚动条
  scrollbar-width: none;
}

:root {
  --bg-color: #fff;
  --text-color: #213547;
}

.dark-mode {
  --bg-color: #1a1a1a;
  --text-color: #e2e8f0;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
