// 全局样式变量
@use "./element.scss" as *;

// px 转 rem
@function rem($px, $base-font-size: 16) {
  @return calc($px / $base-font-size) * 1rem;
}

// header 高度
$header-height: 4rem;

// 移动端和 PC 端分界点
$device-point: 768px;

// 版心宽度
$container-width: 1200px;

// 主题色
$theme-color: #3d00b7;

// 渐变色
$gradient: linear-gradient(135deg, #f5b919 0%, #bdf700 100%);

// 鼠标悬浮样式
@mixin hover($opacity: null, $color: null, $bg: null, $scale: null, $transform: null) {
  @media (pointer: fine) {
    cursor: pointer; // 鼠标变成小手
    -webkit-tap-highlight-color: transparent; // 取消移动端点击样式
    transition: opacity, color, background-color, transform 0.25s ease; // 添加平滑过渡

    &:hover {
      // 仅在传入有效值时才设置对应的样式
      @if $opacity != null {
        opacity: $opacity; // 鼠标悬浮时改变透明度
      }

      @if $color != null {
        color: $color; // 鼠标悬浮时改变文字颜色
      }

      @if $bg != null {
        background: $bg; // 鼠标悬浮时改变背景色
      }

      @if $scale != null {
        transform: scale($scale); // 鼠标悬浮时放大
      }

      @if $transform != null {
        transform: $transform; // 鼠标悬浮时改变样式
      }
    }
  }
}

// 省略号
@mixin ellipsis($lines: 1) {
  @if $lines == 1 {
    // 单行省略号
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  } @else {
    // 多行省略号
    display: -webkit-box;
    line-clamp: $lines;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
